<div class="comment-main-level">

    <!-- Comment -->
    <div class="comment-box">
        <div class="comment-head">
            <div class="comment-author">
                <f:if condition="{wsguestbook.city}">
                    <f:then>
                        <strong>{wsguestbook.name} aus {wsguestbook.city}</strong>
                    </f:then>
                    <f:else>
                        <strong>{wsguestbook.name}</strong>
                    </f:else>
                </f:if>
                <span class="text-muted">
                    <f:if condition="{wsguestbook.tstamp}">
                        <f:then>
                           <f:format.date format="M d,Y">{wsguestbook.tstamp}</f:format.date> <f:translate key="list.at" />  <f:format.date format="H:i">{wsguestbook.tstamp}</f:format.date>
                        </f:then>
                    </f:if>
                </span>
            </div>
        </div>

        <div class="comment-content">
            <div class="message">
                <f:format.raw>{wsguestbook.message}</f:format.raw>
            </div>

            </br>

            <div class="website">
                <f:if condition="{wsguestbook.website}">
                    <f:format.html> <f:translate key="tx_wsguestbook_domain_model_entry.website" /> : <a target="_blank" href="{wsguestbook.website}"> {wsguestbook.website}</a></f:format.html>
                </f:if>
            </div>

        </div>
    </div>
</div>

