<div class="ns-form-group width-50">
	<label for="name">
		<f:translate key="tx_wsguestbook_domain_model_entry.name" /> <span class="required">*</span>
	</label>
	<f:form.textfield property="name" value="{wsguestbookdata.name}" />
</div>
<div class="ns-form-group width-50">
	<label for="email">
		<f:translate key="tx_wsguestbook_domain_model_entry.email" /> <span class="email">*</span>
	</label>
	<f:form.textfield type="email" property="email" value="{wsguestbookdata.email}" />
</div>
<div class="ns-form-group width-50">
	<label for="website">
		<f:translate key="tx_wsguestbook_domain_model_entry.website" />
	</label>
	<f:form.textfield property="website" value="{wsguestbookdata.website}" />
</div>
<div class="ns-form-group width-50">
	<label for="city">
		<f:translate key="tx_wsguestbook_domain_model_entry.city" />
	</label>
	<f:form.textfield property="city" value="{wsguestbookdata.city}" />
</div>
<div class="ns-form-group">
	<label for="message">
		<f:translate key="tx_wsguestbook_domain_model_entry.message" />
	</label>
	<f:form.textarea property="message" id="editor1" rows="10" cols="120" value="{wsguestbookdata.message}" />
</div>


