<f:layout name="Default" />
<f:section name="main">
    <f:flashMessages />
    <f:if condition="{entries}">
        <f:then>

                    <ul class="comments-list">
                        <f:for each="{entries}" as="entry">
                            <li id="comments-{entry.uid}">
                                <f:render partial="Entry/Comment" arguments="{entry:entry}" />
                            </li>
                        </f:for>
                    </ul>

        </f:then>
        <f:else>
            <div class="no-comment">
                <f:translate key="emptymsg" />
            </div>
        </f:else>
    </f:if>
</f:section>
